
ssh/git-private-key

5-applications/spring-rest/cicd/tekton-pipeline/pipeline-secret.yaml

5-applications/spring-rest/cicd/tekton-pipeline/argocd-task-secret.yaml

5-applications/spring-rest/cicd/tekton-pipeline/argocd-secret.yaml

5-applications/spring-rest/cicd/tekton-pipeline/manual-manifests/
